* {
    transition: background-color 1s;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: antiquewhite;
    margin: 0px;
}

#cabecera img {
    width: 100%;
    height: 200px;
    margin-bottom: 0px;
    border-radius: 10px;
}

#menu {
    text-align: center;
    background-image: url("../media/textura-azul.jpg");
    background-size: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#menu h1 {
    text-align: left;
    color: lightblue;
    font-size: 50px;
    padding-left: 40px;
    margin-bottom: 0px;
}

#menu a {
    font-size: 40px;
    color: lightblue;
    padding-right: 50px;
}

#menu a:hover {
    color: aliceblue;
}

#columna {
    float: right;
    padding: 40px;
    text-align: right;
    border-style: solid 1px;
    background-color: lightblue;
    border-radius: 10px;
    animation-duration: 2s;

}

#columna input {
    border-color: white;
}

#columna h2 {
    text-align: center;
}

#pie {
    background-color: aliceblue;
    border-radius: 10px;
}

#pie img {
    width: 20px;
}

.post {
    width: 800px;
    height: 510px;
    background-color: white;
    margin: 40px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.posttitle {
    padding-left: 10px;
}

.img {
    width: 750px;
    height: 400px;
    background-size: contain;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#img1 {
    background-image: url("../media/shrek.webp");
}

.bottomrowpost {
    font-size: 20px;
    color: black;
    margin-left: 20px;
}